body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #FCAF3B;
    border-color: #FCAF3B;
}

.btn-primary:focus, .btn-primary:hover{
    background-color: #e8a135;
    border-color: #e8a135;
  }

.btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(252, 175, 59,.5);
}

.btn-secondary {
    background-color: #272727;
    border-color: #272727;
}

.btn-secondary:focus, .btn-secondary:hover{
    background-color: #202020;
    border-color: #202020;
  }

.btn-secondary:focus, .btn-secondary:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(39, 39, 39,.5);
}